<div id="reset-password" fxLayout="column" fusePerfectScrollbar>

    <div id="reset-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center"
         *fuseIfOnDom [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

        <div id="reset-password-form">

            <div class="logo">
                <img src="assets/images/logos/fuse.svg">
            </div>

            <div class="title">{{ 'TITLE' | translate | uppercase }}</div>

            <form name="resetPasswordForm" [formGroup]="resetPasswordForm" novalidate>

                <mat-form-field>
                    <input matInput 
                            placeholder="{{'INPUTS.EMAIL.LABEL' | translate }}" 
                            formControlName="email">
                    <mat-error *ngIf="resetPasswordFormErrors.email.required">
                        {{'INPUTS.EMAIL.ERRORS.REQUIRED' | translate }}
                    </mat-error>
                    <mat-error *ngIf="!resetPasswordFormErrors.email.required && resetPasswordFormErrors.email.email">
                        {{'INPUTS.EMAIL.ERRORS.EMAIL' | translate }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput 
                            placeholder="{{'INPUTS.PASSWORD.LABEL' | translate }}" 
                            formControlName="password">
                    <mat-error *ngIf="resetPasswordFormErrors.password.required">
                        {{'INPUTS.PASSWORD.ERRORS.REQUIRED' | translate }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="{{'INPUTS.PASSWORD_CONFIRM.LABEL' | translate }}" 
                            formControlName="passwordConfirm">
                    <mat-error *ngIf="resetPasswordFormErrors.passwordConfirm.required">
                        {{'INPUTS.PASSWORD_CONFIRM.ERRORS.REQUIRED' | translate }} 
                        
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button class="submit-button" color="accent"
                        aria-label="RESET MY PASSWORD" [disabled]="resetPasswordForm.invalid">
                    {{ 'BUTTONS.RESET' | translate | uppercase }} 
                </button>
            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/login'">{{ 'BACK_TO' | translate }}</a>
            </div>

        </div>

    </div>

</div>